<wo:D2TPageTemplate pageTitle="[pageTitle]" stylesheet="[stylesheet]"> 
    <h1 id="pageTitle"><wo:WOString value="[pageTitle]" /></h1>
    <wo:WOHyperlink action="[prevPage]" id="homeButton" class="button"><wo:WOString value="[prevPage.pageTitle]" /></wo:WOHyperlink>
     <wo:WOHyperlink class="button" action="[toggleSearch]">Search</wo:WOHyperlink>

    <ul id="root" title="[pageTitle]">
    	<wo:WORepetition list="[displayGroup.displayedObjects]" item="[object]" index="[index]">
	        <li><wo:WOHyperlink action="[select]" string="[menuTitle]"></wo:WOHyperlink></li>
        </wo:WORepetition>
    </ul>
    
    <wo:WOConditional condition="[showSearchdialog]">
    <wo:WOForm id="searchForm" class="dialog" action="[search]" method="POST">
		<fieldset>
	      		<h1>Search</h1>
	      		<a id="leftButton" class="button" type="cancel">Cancel</a>
	      		<a id="goButton" class="button" type="submit">Search</a>
	      		<wo:WOTextField name="search" class="search" value="[searchString]" />
	    </fieldset>
	</wo:WOForm>
	</wo:WOConditional>
</wo:D2TPageTemplate>
