<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><wo:WOString value="[pageTitle]" /></title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<link rel="stylesheet" href="/WebObjects/Frameworks/DirectToiPhone.framework/WebServerResources/EdgeToEdge.css" type="text/css" media="screen"/>
	<script type="application/x-javascript" src="/WebObjects/Frameworks/DirectToiPhone.framework/WebServerResources/prototype.js"></script>
</head>
<body>    
    <h1 id="pageTitle"><wo:WOString value="[pageTitle]" /></h1>

    <ul id="root" title="[pageTitle]" selected="true">
    <wo:WORepetition list="[visibleEntityNames]" item="[visibleEntityName]" index="[index]">
        <li><wo:WOHyperlink action="[list]" string="[menuTitle]"></wo:WOHyperlink></li>
      </wo:WORepetition>
    </ul>
</body>
</html>
