{
    attributes = (
        {
            allowsNull = Y; 
            columnName = TITLE; 
            externalType = VARCHAR2; 
            name = detail; 
            serverTimeZone = "US/Pacific"; 
            valueClassName = NSString; 
            width = 2095; 
        }, 
        {
            columnName = "ENTITY_NAME"; 
            externalType = VARCHAR2; 
            name = entityName; 
            serverTimeZone = "US/Pacific"; 
            valueClassName = NSString; 
            width = 50; 
        }, 
        {
            columnName = "EPISODE_ID"; 
            externalType = NUMBER; 
            name = episodeID; 
            precision = 9; 
            serverTimeZone = "US/Pacific"; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "PODCAST_ID"; 
            externalType = NUMBER; 
            name = podcastID; 
            precision = 9; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "RELEASE_DATE"; 
            externalType = DATE; 
            name = releaseDate; 
            serverTimeZone = "US/Pacific"; 
            valueClassName = NSCalendarDate; 
        }, 
        {
            columnName = TITLE; 
            externalType = VARCHAR2; 
            name = title; 
            serverTimeZone = "US/Pacific"; 
            valueClassName = NSString; 
            width = 255; 
        }
    ); 
    attributesUsedForLocking = (episodeID, title, releaseDate, detail, entityName, podcastID); 
    className = "com.apple.itunes.store.Episode"; 
    classProperties = (title, releaseDate, detail, entityName, podcast); 
    externalName = EPISODE; 
    fetchSpecificationDictionary = {}; 
    name = PodcastEpisode; 
    parent = Episode; 
    primaryKeyAttributes = (episodeID); 
    relationships = (
        {
            destination = Podcast; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = podcastID; sourceAttribute = podcastID; }); 
            name = podcast; 
        }
    ); 
    restrictingQualifier = "(entityName = 'PodcastEpisode')"; 
}
